In [1]:
import numpy as np
import pandas as pd
pd.__version__

'1.3.0'

# The Pandas Series Object

In [2]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

`Series` wraps both a sequence of values and a sequence of indices. The `values` can be accessed through the `index` attributes. `values` are similar to NumPy array and `index` is an array-like object of type `pd.Index`

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

## `Series` as generalized NumPy array
Pandas `Series` and NumPy `array` are similar but there is a difference. NumPy `array` uses only *integer* indexing while Pandas `Series` uses *explicitly defined* index.

In [7]:
data = pd.Series([0.25,0.5,0.75,1.0],
                 index = ['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['c']

0.75

Amazingly, we can use even non-contiguous or non-sequential indices:

In [9]:
data = pd.Series([0.25,0.5,0.75,1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [10]:
data[7]

1.0

## `Series` as a specialized dictionary

Pandas `Series` can be compared Python `Dictionary`. THe difference is this: Python `Dictionary` map *arbitrary* keys to *arbitrary* values while Pandas `Series` maps *typed* keys to *typed* values. This is very crucial. Just as the typed Numpy `array` is more efficient than Python's list, so also Pandas `Series` is more efficient than Python `Dictionary`.

In [11]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [12]:
population['California']

38332521

array-style slicing, unlike dictionary

In [13]:
population['California':'Texas']

California    38332521
Texas         26448193
dtype: int64

## Constructing `Series` objects

All methods of creating a Series Object take the form:
`pd.Series(data, index=index)`

1\. data without index

In [14]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

2\. data as a single scalar, which is repeatedly filled by an index

In [15]:
pd.Series(8,index=[2,4,8])

2    8
4    8
8    8
dtype: int64

3\. data as a dictionary, in which the index are stored as dictionary keys:

In [16]:
pd.Series({3:'c',1:'a',4:'d',2:'b'})

3    c
1    a
4    d
2    b
dtype: object

4\. like 3 above but with a specified index

In [17]:
pd.Series({3:'c',1:'a',4:'d',2:'b'}, index=[4,1])

4    d
1    a
dtype: object

## Pandas DataFrame

## DataFrame as a generalized NumPy array

Just as the way we consider a `Series` as an analog of a 1D array with flexible indices, a `DataFrame` is  an analog of a 2D array with both flexible row indices and flexible column indices. Just as you might view a 2D array as an alignment of a series of 1D arrays, you might also view a `DataFrame` as an alignment of `Series` objects. "aligned" here means having the same index

In [18]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Now, since we have the area `Series` and the previous `population Series`, we can use a dictionary to construct a singel two-dimensional object containing this info:

In [19]:
states = pd.DataFrame({'population': population,
                      'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

Like the `Series` object, `DataFrame` object also has an `index` attribute that gives access to index labels

In [20]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

`DataFrame` object also has a `columns` attribute, which has an `Index` object holding the column labels:

In [21]:
states.columns

Index(['population', 'area'], dtype='object')

## DataFrame as a specialized dicitionary

A `DataFrame` object can also be viewed as a specialized dictionary, where a key is mapped to a value. A `DataFrame` maps a column name to a `Series` of column data. For example, using the key `population`, we get a `Series` object

In [22]:
states['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

## Creating DataFrame objects

### 1. From a single `Series` object

In [23]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

### 2. From a  list of dicts

In [24]:
data = [{'a':i,'b':2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some data is missing, Pandas will fill that up with `NaN` ("Not a Number") values:

In [25]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

### 3. From a dictionary of `Series` Objects

In [26]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

### 4. From a 2D NumPy array

In [27]:
pd.DataFrame(np.random.rand(3,2),
             columns = ['foo','bar'],
             index = ['a', 'b', 'c'])

        foo       bar
a  0.815911  0.215827
b  0.665148  0.088469
c  0.864307  0.926050

### 5. From a NumPy structured array

In [28]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [29]:
df = pd.DataFrame(A)
df

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [30]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [31]:
df.columns

Index(['A', 'B'], dtype='object')

# The Pandas Index Object

We have seen that both the `Series` and the `DataFrame` objects have an `Index` object. The `Index` object can be thought of as an *immutable array* or as an *ordered set*. These two views have some interesting consequences in the operations availble on the `Index` objects.

One of the simple way of creating an `Index` object is using a list. Below is an example using a list of integers:

In [32]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

## `Index` as immutable array

`Index` in many ways resembles an array in its operaton. For example, we can use indexing to retrieve values or even slices

In [33]:
ind[3]

7

In [35]:
ind[::-1]

Int64Index([11, 7, 5, 3, 2], dtype='int64')

`Index` objects also have many properties farmiliar from NumPy arrays:

In [36]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

One major difference between `Index` object and NumPy `arrays` is that `Index` objects are immutable, that is cannot be modified by normal means (i.e)

In [37]:
ind[2]=0

TypeError: Index does not support mutable operations

## Index as an ordered set

Pandas objects are designed to facilitate operations such as joins across datasets, which depend on many aspects of set arithmetic.

In [38]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [42]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [43]:
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [45]:
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')